html, body { background: #eee url(../images/background.png); color: #333; cursor: default; font: 300 1em 'Roboto Condensed', sans-serif; margin: 0; }

.clear { clear: both; }
.svg-icon { fill: #444; }

.brand { background: rgba(255, 255, 255, 0.9); font-size: 10em; font-weight: 700; height: 300px; text-transform: uppercase; }
.brand.multiline { display: none; }
.brand use:last-of-type { animation: raise 0.5s ease-out forwards; }
.brand-text { fill: #333; }
.brand-text-shadow { animation: cast-shadows 0.5s ease-out forwards; fill: #fff; font-weight: 900; }

#social { background: rgba(255, 255, 255, 0.5); padding: 10px 20px 6px 20px; text-align: right; }
#social .left { float: left; }
#social .right { float: right; }
#social a { display: inline-block; margin: 0 0 0 10px; }
#social .icon { cursor: pointer; height: 40px; pointer-events: none; width: 40px; }
#social .icon-label { display: inline; margin: 0; padding: 0; position: relative; top: -15px; }

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/RobotoCondensed-Regular.ttf) format('truetype');
}

@keyframes cast-shadows {
  0% { text-shadow: none; }
  10% { text-shadow: -1px 1px 0 rgba(0, 220, 220, 0.3), 1px 1px 0 rgba(255, 50, 50, 0.3); }
  100% { text-shadow: -10px 10px 0 rgba(0, 220, 220, 0.3), 10px 10px 0 rgba(255, 50, 50, 0.3); }
}
@keyframes raise {
  0% { transform: translate(0, 0); }
  20% { transform: translate(0, -12px); }
  100% { transform: translate(0, -10px); }
}


/* Extra small devices (portrait phones) */
@media (max-width: 575px) {
  .brand { display: none; font-size: 5em; height: 200px; }
  .brand.multiline { display: block; }

  @keyframes cast-shadows {
    0% { text-shadow: none; }
    10% { text-shadow: -1px 1px 0 rgba(0, 220, 220, 0.3), 1px 1px 0 rgba(255, 50, 50, 0.3); }
    100% { text-shadow: -5px 5px 0 rgba(0, 220, 220, 0.3), 5px 5px 0 rgba(255, 50, 50, 0.3); }
  }
  @keyframes raise {
    0% { transform: translate(0, 0); }
    20% { transform: translate(0, -6px); }
    100% { transform: translate(0, -5px); }
  }
}

/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767px) {
  .brand { display: none; font-size: 8em; height: 300px; }
  .brand.multiline { display: block; }

  @keyframes cast-shadows {
    0% { text-shadow: none; }
    10% { text-shadow: -1px 1px 0 rgba(0, 220, 220, 0.3), 1px 1px 0 rgba(255, 50, 50, 0.3); }
    100% { text-shadow: -6px 6px 0 rgba(0, 220, 220, 0.3), 6px 6px 0 rgba(255, 50, 50, 0.3); }
  }
  @keyframes raise {
    0% { transform: translate(0, 0); }
    20% { transform: translate(0, -8px); }
    100% { transform: translate(0, -6px); }
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  .brand { display: none; font-size: 8em; height: 300px; }
  .brand.multiline { display: block; }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  .brand { font-size: 9em; }
}